---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: prometheus
  source:
    targetRevision: 45.1.1
    chart: kube-prometheus-stack
    repoURL: https://prometheus-community.github.io/helm-charts
    helm:
      values: |   
        prometheusOperator:
          admissionWebhooks:
            enabled: false
          prometheusConfigReloader:
            resources: {}
        # prometheus:
          # prometheusSpec:
            # storageSpec:
            #   volumeClaimTemplate:
            #     spec:
            #       storageClassName: gp2
            #       accessModes: ["ReadWriteOnce"]
            #       resources:
            #         requests:
            #           storage: 100Gi
            # retention: 30d
        grafana: 
          ingress:
            enabled: true
            ingressClassName: alb
            annotations:
              alb.ingress.kubernetes.io/target-type: 'ip'
              alb.ingress.kubernetes.io/scheme: internet-facing
              alb.ingress.kubernetes.io/healthcheck-path:	/api/health
            hosts:
              - monitoring.tikaldev.click
            dashboards:
              default:
                argocd:
                  url: https://raw.githubusercontent.com/argoproj/argo-cd/master/examples/dashboard.json
                  datasource: default
                argocd-notifications:
                  url: https://argocd-notifications.readthedocs.io/en/stable/grafana-dashboard.json
                  datasource: default
                argocd-image-updater:
                  url: https://raw.githubusercontent.com/argoproj-labs/argocd-image-updater/master/config/example-grafana-dashboard.json
                  datasource: default
  syncPolicy:
    automated:
      selfHeal: true
      prune: true
    syncOptions:
      - CreateNamespace=true
      - Replace=true
      - PruneLast=true
      - RespectIgnoreDifferences=true
      - ApplyOutOfSyncOnly=true
